# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# OS File system
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode/settings.json
.history

# on-premises environment configuration
.env

# solidity
*abi
*abi/*

# local test
*local_test.go
Off-line-material

# gmail file
credentials.json
token.json
credentials*.json
token*.json

# File 
file/tmp/